<div class="right">
  <div class="sidebar_box">
    <h4>Sidebar Example</h4>
    <p>Aenean diam massa, fringilla quis consectetur et, iaculis id mi. Curabitur turpis risus, pharetra eget pretium id, lobortis sit amet elit. lum convallis pulvinar aliquet. Donec tincidunt adipiscing velit, in commodo leo.</p>
  </div>
  <div class="sidebar_box">
    <h4>An Unordered List</h4>
    <ul>
      <li>A Random Option</li>
      <li>Another Option</li>
      <li>A Third Option</li>
      <li>And a Forth Option</li>
    </ul>
  </div>
  <div class="sidebar_box">
    <h4>Contact Us</h4>
    <p>Still have questions? <a href="#">Contact us</a>.</p>
  </div>
</div><!-- right -->
<div class="clear"></div>
