<% @page_title = 'Nosotros' %>

<div class="header page">
  <h1>Nosotros</h1>
</div>
<div class="padding">
  <div class="left" class="about">
    <h4>¿Qué es aLabs y qué hacemos?</h4>
    <br />
    <p style="text-align:justify;"><em>"Las «empresas» con orientación política no son solo planes B: producen, conservan y difunden el conocimiento técnico; disponen y proveen de recursos físicos y simbólicos; permiten abolir la división entre trabajo y militancia; atesoran conocimiento organizativo y operacional. Son la evolución natural para un hacking activista que se hace mayor. Un magnífico plan A."</em> (<a href="http://www.espaienblanc.net/IMG/pdf/3_politizacionesenelciberespacio.pdf">Marga Padilla</a>)</p>
    <p style="text-align:justify;">Como asociación sin ánimo de lucro, en aLabs ayudamos a proyectos de software libre a desarrollarse, a asociaciones e instituciones a usar las nuevas tecnologías y a todo tipo de organizaciones a superar las barreras tecnológicas y avanzar en la mejora de sus sistemas. Creemos que una sociedad libre, conectada y activa, es la mejor garantía para un avanzar hacia un nuevo modelo necesario.</p>
  <p style="text-align:justify;">La asociación aLabs da prioridad a los laboratorios de experimentación y transformación de la cultura hacker, para ayudar a desarrollar proyectos que desde la autogestión sin organización son muy complejos, para liberar código que innove y permita usar plataformas libres, gestionadas en canales sin ánimo de lucro y conectadas a los movimientos sociales y culturales locales.</p>
  <p style="text-align:justify;">De ahí nacen herramientas como oiga.me, nolotiro.org, liberateca o PrecaJobs. Plataformas realizadas y liberadas con software libre, que dan servicio cotidiano a decenas de miles de personas; facilitando la creación de campañas de movilización ciudadana, la posibilidad de compartir enlaces y defender tus derechos en la red, reciclar y permitir que las personas compartan objetos que pensaban tirar a la basura de manera masiva o visibilizar  la precarización laboral de nuestras vidas. Ejemplos prácticos que permiten a la sociedad civil organizarse en multitud sin depender de inversores, accionistas o especuladores culturales.</p>
  <p style="text-align:justify;">Las acciones de esta asociación recogen el sentido práctico de las formas de organización hacker mediante nuevas tecnologías, jugando con la estética de la red y facilitando la conexión entre hackers, creadores y espacios contraculturales en el centro de Madrid, investigando el embrión de un nuevo modelo de residencias P2P donde la conectividad a la realidad local de los residentes sea una de las prioridades. Un espacio de trabajo colaborativo y circulación de saberes para artistas y creadores relacionados con arte y software radical, multimedia, comunicación, sociedad red y nuevas tecnologías, formado por diversos espacios-residencia en red que compartan recursos para este proyecto.</p>
  </div><!-- left -->
  <%= render :partial => 'partials/about_sidebar' %>
</div>
