<% @page_title = 'Nosotros' %>

<div class="header page">
  <h1>Nosotros</h1>
</div>
<div class="padding">
  <div class="left">
    <h4>¿Qué es aLabs y quienes forman parte?</h4>
    <br />
    <p>aLabs es una asociación sin ánimo de lucro, nace en Madrid a mediados de 2010 y se registra públicamente como asociación en febrero de 2011.</p>
    <p>En aLabs ayudamos a proyectos de software libre a desarrollarse, a asociaciones e instituciones a usar las nuevas tecnologías y a todo tipo de organizaciones a superar las barreras tecnológicas y avanzar en la mejora de sus sistemas. Creemos que una sociedad libre, conectada y activa, es la mejor garantía para un avanzar hacia un nuevo modelo necesario. Para ello estamos creando toda una serie de proyectos relacionados con la democracia participativa mediante el uso de tecnologías libres, con herramientas para apoyar proyectos libres que permitan transformar la realidad.</p>
  </div><!-- left -->
  <%= render :partial => 'right_sidebar' %>
</div>
