<% @page_title = 'Clientes' %>

<div class="header page">
  <h1>Casos de Éxito</h1>
</div>
<div class="padding" style="background-color:#fff;">
  <div class="left">
    <h4>¿Qué hemos hecho y para quién?</h4>
    <br />
    <h5>OASIS</h5>
    <p>Desde el consorcio Oasis nos llegó como encargo realizar una maqueta de gestión de tramos de autopistas del futuro, un desarrollo web con Ruby on Rails y JavaScript, la marca de la casa. Entregamos el proyecto a principios de febrero para su presentación pública en las oficinas de OHL.</p>

    <p>“El proyecto Operación de Autopistas Seguras, Inteligentes y Sostenibles (OASIS), primer proyecto español en abordar el diseño de la autopista del futuro, se enmarca dentro del programa CENIT, cuyo objetivo principal es la financiación de grandes proyectos integrados de colaboración público-privada en investigación industrial de carácter estratégico.</p>

    <p>Esta iniciativa se ha puesto en marcha dirigida por OHL Concesiones e Iridium, con la colaboración principal del Grupo de Gestión de Infraestructuras Abertis, Indra y Sice, y con la participación de un total de 16 empresas españolas, entre las que destacan Geocisa, GMV y los grupos constructores Dragados y OHL. Además, el proyecto cuenta con la inestimable presencia de 7 PYMEs que participan en líneas concretas de investigación.</p>

    <p>Este consorcio de empresas ha seleccionado, para liderar científicamente el proyecto, a 16 de los más importantes grupos de investigación pertenecientes a diversas universidades y centros tecnológicos distribuidos por todo el territorio nacional. Para el desarrollo del proyecto se han definido 7 paquetes de trabajo, cada uno de ellos liderado por una de las principales empresas asociadas, abarcando diferentes campos de investigación entre los que destacan los procesos constructivos, los nuevos sistemas inteligentes de transporte (ITS) en el ámbito de la seguridad y la movilidad, la interacción con el medio ambiente y la optimización energética.“</p>

    <h5>Consultoría Foofind</h5>
    <p>Estudiar cómo mejorar el rendimiento de los servidores de un buscador del tamaño de foofind.com ha sido uno de nuestros proyectos más interesantes. Entre las tareas más delicadas nos encontramos optimizando más de 480 GigaBytes en base de datos repartidas entre distintas instancias MongoDB, usando Sphinx como buscador y estudiando el despliegue de Puppet(enlace) para integración de sistemas y Zabbix(enlace) para monitorización.</p>

    <h5>Taller en Master EOI:  Comunicación organizacional a través de telefonía IP.</h5>
    <p>La EOI (Escuela de Organización Industrial) ha contactó con Login_Madrid (http://www.eoi.es/blogs/login_madrid/2011/03/17/una-centralita-de-telefonos-para-el-trabajo-en-equipo/) y aLabs para impartir un taller simultáneo sobre nuevos usos de la telefonía IP en el ámbito empresarial a sus alumnos de postgrado.</p>

    <p>El taller se realizó simultáneamente (http://www.eoi.es/blogs/login_madrid/2011/04/11/comunicacion-organizacional-a-traves-de-la-voz-ip/)  en las sedes de la EOI en Madrid y Sevilla. La tecnología que usamos en este taller fué una centralita telefónica en la nube, gestionada con Asterisk, un proxy SIP con Kamailio y pasarela SMS para integrarlo todo en un Samsung Galaxy Tab con Android. Aún así, la tecnología es solo una parte, la comunicación organizacional requiere canales y tecnologías, pero los canales y las tecnologías, por si solos, no garantizan la comunicación.</p>

    <h5>Plataforma oiga.me</h5>
    <p>oiga.me es una plataforma de acción y movilización ciudadana, una herramienta de democracia participativa a través de sistemas web y correo electrónico para colectivos, entidades o asociaciones que desean ser escuchados. Ruby on Rails, JavaScript y HTML5 son el corazón de esta plataforma libre que multiplica la potencia de miles de pequeños esfuerzos individuales en una poderosa fuerza colectiva.</p>

    <h5>Telefonía IP segura</h5>
    <p>Nuestro sistema de telefonía segura, con cifrado SRTP, Kamailio y Asterisk. Tras testearlo por tres meses en producción con la telefonía de la asociación estamos montando una plataforma de comunicación segura con SRTP, SIPS(enlaces a todo), Android y conexión a telefonía RTB y celular para ofrecerla como servicio. De esta forma, podremos ofrecer numeración geográfica (DID) para que puedas atender de manera segura las llamadas de tu organización en tu dispositivo móvil preferido allá donde te encuentres, con extensiones internas para el resto de miembros de tu organización y la tranquilidad de usar tecnologías libres y estándares que permitirán nuevos servicios.</p>
  </div><!-- left -->
  <%= render :partial => 'partials/customers_sidebar' %>
</div>
