<% @page_title = 'Clientes' %>

<div class="header page">
  <h1>Casos de Éxito</h1>
</div>
<div class="padding">
  <div class="left">
    <h4>¿Qué hemos hecho y para quién?</h4>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mi mauris, ultricies id dictum a, malesuada sit amet diam. Nullam facilisis, sem sit amet ornare dapibus, lorem orci mattis orci, a pharetra tellus diam sed enim. Nulla viverra ultrices convallis. Etiam eleifend molestie rhoncus. Pellentesque vehicula interdum imperdiet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur commodo convallis ultricies. Mauris in ante sed nisi lacinia varius. Phasellus lacus ligula, venenatis sit amet dictum vel, auctor eu urna. Vivamus sed dui augue. Fusce ornare pulvinar mi, vitae blandit lacus laoreet quis.</p>
    <p>Sed non ornare dolor. Vivamus porta dignissim accumsan. Aliquam viverra erat vitae diam sagittis blandit. Phasellus in turpis risus. Sed sem dolor, consectetur vel porttitor sed, porta a lacus. Praesent tristique leo sit amet ipsum feugiat convallis. Mauris aliquam commodo malesuada. Suspendisse potenti. Suspendisse potenti. Etiam a egestas urna. Etiam dolor risus, lobortis eget ultrices mollis, rhoncus sed sapien. Nam nibh dui, commodo non pulvinar eget, interdum non eros. Duis rhoncus molestie ultricies. Vivamus commodo, lorem sed faucibus condimentum, nisi metus vestibulum nunc, vitae tristique sem libero nec nisl.</p>
    <p>Sed gravida faucibus est quis congue. Nam consectetur leo eget quam hendrerit facilisis. Maecenas non ligula nisl. Pellentesque et ipsum ut mi aliquam dictum. Nullam hendrerit tincidunt elit, eu elementum orci eleifend vel. Curabitur ac convallis ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean nec cursus eros. Praesent at mauris id augue porttitor aliquet. Nulla at faucibus magna. Sed mi libero, hendrerit eu lacinia at, elementum et purus. Nunc gravida sollicitudin urna posuere pharetra. Nunc non nulla et neque accumsan aliquet in nec nisi.</p>
  </div><!-- left -->
  <%= render :partial => 'right_sidebar' %>
</div>
