<% @page_title = 'Servicios' %>

<div class="header page">
  <h1>Servicios</h1>
</div>
<div class="padding">
  <div class="left">
    <h4>Los servicios que podemos ofrecer</h4>
    <br />
    <h5>Desarrollo</h5>
    <p>Aplicaciones web usando como framework Ruby on Rails + HTML5, CSS3 y JavaScript. Nuestra experiencia con el software (enlace a "software") desarrollado por la asociación es la mejor garantía. Aplicaciones sólidas que soportan decenas de miles de usuarios sin sobrecargar los servidores que las alojan. Si tienes alguna idea en la que necesitas ayuda, no dudes en ponerte en contacto (Enlace a contacto) con nosotros.</p>
    <h5>Telefonía IP</h5>
    <p>La telefonía es una herramienta imprescindible en cualquier organización. Hace ya años que la moderna telefonía IP está sustituyendo los tradicionales modelos estádicos de comunicación. Ahora nuestra telefonía es móvil, con tu propia centralita en internet, con numeración geográfica y extensiones, menús para organizar tus llamadas y estar localizable en cualquier pare del mundo, todo con SRTP (cifrado) para tu privacidad. En aLabs te ofrecemos estos servicios y más, contacta con nosotros para que te ayudemos a pensar el sistema de telefonía del futuro para tu organización, no es por el inmenso ahorro de costes corto, medio y largo plazo, es por tu movilidad. Viaja siempre con el mismo número, da igual que estés en Argentina, París o Barcelona, siempre podrás usar la tarifa de tu organización de manera segura.</p>
    <h5>Hosting</h5>
    <p>¿En que tipo de entidad inviertes el dinero de tu hosting? Una forma de apoyar oiga.me, nolotiro.org y demás proyectos de aLabs es usando nuestro hosting, invierte tu dinero de forma responsable en una organización que revierte tu inversión en bienes comunes, en ti. El hosting de aLabs funciona gracias a GNU/Debian e ISPConfig, lo usan entidades del tamaño de red-sostenible, solo usamos software libre.</p>
    <p>aLabs proporciona alojamiento para tus aplicaciones web con PHP, Python y Ruby usando como base de datos MySQL o MongoDB. También gestionamos el registro y alojamento de DNS y gestión de correo electrónico. Trabajamos con los mejores proveedores dando un servicio de calidad, cuando albergas proyectos en aLabs estás apoyando la financiación de varios proyectos.</p>
    <h5>Eventos y Formación</h5>
    <p>Anualmente realizamos unas jornadas sobre las temáticas de la asociación, nuestras últimas experiencias son en México DF con el apoyo de la Universidad Autónoma de México, el Centro Cultural de España en México DF y la Embajada de España en México; también en Colombia, con el apoyo de la Embajada de España en Bogotá. Acompañamos a tu organización, si necesitas formación en estándares o tecnologías libres, o realizar un evento tecnológico, puedes contactar con el equipo de asesoría de aLabs.</p>
    <h5>Aplicaciones para móviles</h5>
    <p>Aplicaciones pensadas para dispositivos móviles, ya sea mediante servicio web multiplataforma o desarrollo de aplicaciones Android, el presente es móvil y aLabs sabe construirlo e integrarlo.</p>
  </div><!-- left -->
  <%= render :partial => 'partials/services_sidebar' %>
</div>
