<% @page_title = 'Servicios' %>

<div class="header page">
  <h1>Servicios</h1>
</div>
<div class="padding">
  <div class="left">
    <h4>Los servicios que podemos ofrecer</h4>
    <br />
    <h5>Hosting</h5>
    <p>aLabs proporciona alojamiento para tus aplicaciones web con PHP, Python y Ruby usando como base de datos MySQL o MongoDB. También gestionamos el registro y alojamento de DNS y gestión de correo electrónico. Trabajamos con los mejores proveedores dando un servicio de calidad, cuando albergas proyectos en aLabs estás apoyando la financiación de varios proyectos.</p>
    <h5>Telefonía IP</h5>
    <p>La entrada de la telefonía IP ha cambiado el modelo de comunicación en las organizaciones. En aLabs tenemos experiencia en diseñar y poner en marcha soluciones de telefonía que se conecten al mundo IP mediante centralitas basadas en Asterisk y servidores SIP basados en Kamailio. Integrar estos sistemas de telefonía IP en tu CRM o integrar telefonía IP en los sistemas de comunicaciones de tu organización permite ahorrar costes y optimizar el rendimiento de las instalaciones actuales.</p>
    <h5>Formación</h5>
    <p>IPv6 es la siguiente generación del protocolo IP. Es una segunda revolución que modificará totalmente el concepto de Internet, conocerlo es la clave para preparar el gran cambio. Ruby on Rails es nuestro framework de desarrollo habitual para aplicaiones web, con él desarrollamos aplicaciones como oiga.me. Nuestros cursos abarcan desde un nivel de primer contacto a planificación de desarrollo de grandes aplicaciones. Telefonía IP orientada a desarrolladores de soluciones, pero también a administradores de sistemas y responsables de proyectos. HTML5 abre nuevas oportunidades para la comunicación, formamos a desarrolladores y técnicos de servicios web en esta nueva versión del estandar para publicar en la WWW.</p>
    <h5>Desarrollo</h5>
    <p>Desarrollamos todo tipo de aplicaciones web usando como framework Ruby on Rails y aplicando metodologías ágiles. Si tienes alguna idea en la que necesitas ayuda para realizar, no dudes en ponerte en contacto con nosotros. Nos apasiona crear herramientas que tenga valor para sus usuarios, es uno de los objetivos de nuestra asociación. Creemos que la plataforma Android es la que más empuje esta teniendo en el presente, además de que cumple con los objetivos de nuestra asociación que son los de fomentar el uso y desarrollo de software libre. Podemos desarrollar herramientas novedosas para esta plataforma, por poner un ejemplo lo que nos tira mucho son las herramientas que mezclen el posicionamiento del terminal con información local de donde se encuentre en ese momento. Esto es un ejemplo pero como la imaginación es más importante que el conocimiento, como decía Einstein, piensa en que te gustaría que hiciéramos y lo llevaremos a cabo.</p>
  </div><!-- left -->
  <%= render :partial => 'right_sidebar' %>
</div>
