<% @page_title = 'Software' %>

<div class="header page">
  <h1>Software</h1>
</div>
<div class="padding">
  <div class="left">
    <h4>Nuestros proyectos de Software Libre</h4>
    <br />
    <h5>oiga.me</h5>
    <p>oiga.me es una plataforma de acción y movilización ciudadana, una herramienta de participación democrática. A través de oiga.me podrás lanzar peticiones que sean firmadas por miles de personas (por ejemplo, contra los recortes en educación y sanidad) pero, además, con un click, tú y todos los que participen podréis mandar mails directamente a los responsables de dichas políticas (por ejemplo, al Gobierno de la Comunidad de Madrid o al Govern de Catalunya), para que puedas con tus propias palabras pedirles que cambien el rumbo.</p>

    <p> oiga.me es una plataforma de acción y movilización ciudadana sin ánimo de lucro. Es necesario que la sociedad disponga de canales de movilización en red que sean libres, gestionados por entidades sociales sin ánimo de lucro que no tengan que responder ante accionistas; en oiga.me las decisiones sobre la plataforma no se toman en función de quien puso la mayor cantidad de dinero, ni tenemos en cuenta intereses comerciales a la hora de lanzar campañas. En oiga.me tienes la tranquilidad de saber que no buscamos beneficio económico y nunca venderemos tus datos.</p>

    <p> oiga.me es una plataforma de acción y movilización ciudadana construida consoftware libre, el código de la aplicación está licenciado con GNU AFFERO GENERAL PUBLIC LICENSE y todos sus contenidos son copyleft con licencia CC-By-SA. Para construir oiga.me hemos necesitado el apoyo de la comunidad del software libre, sin su código y documentación no habría sido posible. En oiga.me consideramos un deber y una responsabilidad liberar nuestro código, en parte como forma de devolver a la comunidad, pero también para facilitar que más gente pueda contribuir de manera abierta a mejorar la plataforma, por regla general nos gusta compartir y colaborar más que competir y cerrar.</p>
    <h5>nolotiro.org</h5>
    <p>nolotiro.org es un sitio web donde ofrecer al público, las cosas que ya no quieres o ya no necesitas para que las recoja otra gente a la que puede servirle o serle de mucha utilidad, es software libre, un concepto muy sencillo pero con resultados excelentes. Está enfocado a crear comunidades locales, personas que necesitan deshacerse de cosas o que quieren donarlas y gente que las necesita o puede darle nueva vida, por el momento tiene más de 40.000 usuarios. Como dice su principal desarrollador: “Está casi nueva, llena de personas majas que se preocupan por su entorno y quieren cambiar el mundo con sus pequeños gestos cotidianos”.</p>
    <h5>Liberateca</h5>
    <p>Liberateca es una pagina de enlaces de nueva generación. Codigo libre, desarrollo abierto, sin publicidad, sin ánimo de lucro, comunitaria y autogestionada. ¿Imaginás una página web de enlaces cuyo código esté publicado en la web y puedas modificarlo?, ¿que la página pueda ser como tú quieras o que puedas copiarla entera y hacerla a tu gusto?. Compartir el código de Liberateca con licencia GNU Affero está permitiendo que más personas entren a colaborar. Ahora el desarrollo avanza más rápido y tiene más calidad que le aportan nuevas personas con experiencia en programación y diseño, todo son ventajas.</p>
    <h5>Precajobs</h5>
    <p>9 de cada 10 ofertas precarias de trabajo en Internet están aquí. Este proyecto artístico de la residencia aLabs propone mostrar desde una perspectiva irónica la explotación y precarización de la vida laboral de las personas mediante las nuevas tecnologías.</p>
    <p>&nbsp;</p>
  </div><!-- left -->
  <%= render :partial => 'partials/software_sidebar' %>
</div>
